{% autoescape off %}
<div style="font-family: Arial, sans-serif; color: #333;">
    <h1 class="mb-0 fw-bold text-primary display-6; " style="color:#000 !important; font-weight:900">Poupe<span style="color:#007bff">Comprando</span></h1>

    <h2  >Apenas um passo para configurar sua nova senha</h2>
    <p style="margin-bottom:1rem">Clique no botão para configurar uma nova senha para sua conta no <a href="{{ protocol }}://{{ domain }}" style="color: #007bff; text-decoration: none;">poupecomprando.com.br</a>.</p>
    <a  href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="margin-bottom:2rem; background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Criar nova senha</a>
    <br>
    <br>
    <p style="margin-bottom:1rem">Obrigado por usar o PoupeComprando.</p>
    <p style="margin-bottom:2rem">Equipe <a href="mailto:contato@poupecomprando.com.br" style="color: #007bff; text-decoration: none;">contato@poupecomprando.com.br</a></p>
    <hr>

    <p style="font-size: small;">Você recebeu este e-mail porque utiliza os serviços do PoupeComprando. Trata-se de um e-mail transacional, o que significa que esta relacionado ao uso que você faz dos nossos serviços.</p>
    <p style="font-size: small;">Por favor, se precisar de mais informações, entre em contato conosco pelo e-mail <a href="mailto:contato@poupecomprando.com.br" style="color: #007bff; text-decoration: none;">contato@poupecomprando.com.br</a></p>
</div>
{% endautoescape %}