{%load static%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>PoupeComprando</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

        <!-- Customized Bootstrap Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        

        <!-- Template Stylesheet -->

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
      {% if novos_pedidos %}
    <script>alert("Você tem novos pedidos!");</script>
{% endif %}

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar start -->
        <div class="container-fluid fixed-top" style="padding:0 !important; border-radoius:0 !important; ">
            <div class=" topbar bg-primary d-none ">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="d-none me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">...</a></small>
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">poupe@poupecomprando.com</a></small>
                    </div>
                    <div class="top-link pe-2">
                        <a href="#" class="text-white"><small class="text-white mx-2">Política e Privacidade</small>/</a>
                        <a href="#" class="text-white"><small class="text-white mx-2">Termos de Uso</small>/</a>
                        <a href="#" class="text-white"><small class="text-white ms-2">Últimos Pedidos</small></a>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light navbar-expand-xl">
                    <a class="d-flex align-items-center" style="gap:.5rem;" href="{%url 'home'%}" class="navbar-brand"><img style="height:2.5rem; border-radius:50%;" src="{%static 'img\dev122062_faz_uma_logo_parecida_com_ifood_para_uma_plataforma_c_a6720ce1-23ea-425a-9b63-d7921326b252 (1).png' %}"><h5 class="mb-0 text-primary display-6; " style="color:#fff !important">PoupeComprando</h5></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse  " id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            {%if user.is_authenticated%}
                        {% if user.is_authenticated %}
    <form class="d-flex align-items-center " action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="nav-item nav-link" style="border:none; background:none;">Sair</button>
    </form>
{% endif %}                   {%endif%}

{%if not user.is_authenticated%}

<a class="d-flex nav-item nav-link align-items-center justify-content-center" href="{%url 'tipoPerfil'%}"><span>Criar Conta</a>
{%elif cliente%}

<a class="d-flex nav-item nav-link align-items-center justify-content-center" href="{%url 'perfil_usuario'%}"><span>Editar perfil</a>


{%endif%}
{%if cliente%}
<a href="{%url 'payment'%}" class="nav-item nav-link">Comprar Poups</a>

{%endif%}
                            {%if user.is_authenticated%}
                            <a href="{%url 'loja'%}" class="nav-item nav-link">Lojas</a>
                            {%else%}
                            <a class="nav-item nav-link abrir-endereco">Lojas</a>

                            {%endif%}
                            <div class="d-none nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Parceiros</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="cart.html" class="dropdown-item">Carrinho</a>
                                    <a href="chackout.html" class="dropdown-item">Chackout</a>
                                    <a href="testimonial.html" class="dropdown-item">Sobre Nós</a>
                                    <a href="chackout.html" class="dropdown-item">Chackout</a>
                                   
                                    <a href="404.html" class="dropdown-item">404 Page</a>
                                </div>
                            </div>

                            {%if loja%}

                            <a class="d-flex nav-item nav-link align-items-center justify-content-center" href="{%url 'editar_loja'%}"><span>Editar Loja</a>

                            {%endif%}

                           
                     
                            <a href="{%url 'home'%}" class="nav-item nav-link active">Dúvidas</a>
                            
                            {%if user.cliente%}<a href="{%url 'pedidos_cliente'%}" class="nav-item nav-link active">Meus Pedidos</a>
                            {%endif%}

                     

                        </div>
                        <div class="d-flex m-3 me-0">
                            <button class="d-none btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                            <a href="#" class="position-relative me-4 my-auto">
                                <i style="color:#fff; " class="abrir-carrinho fa fa-shopping-bag fa-2x"></i>
                            </a>
                            {%if not user.is_authenticated%}
                            <a href="{%url 'tipoPerfil' %}" class="my-auto me-4">
                              {%elif cliente%}
                              <a href="{%url 'perfil_usuario' %}" class="my-auto me-4">
                              {%endif%}
                                <i style="color:#fff; !important" class="fas fa-user fa-2x"></i>
                            </a>
                          

                        </div>
                    </div>
                </nav>
            </div>
            
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
              <div class="container" style="width:50rem; max-width:100%">
                <div class="modal-content rounded-0" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Modal Search End -->


        {%block 'conteudo'%}
        {%endblock%}
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer  mt-5">
          <div class="container">
            
                      <div class="col-lg-3 d-none">
                          <div class="d-flex justify-content-end pt-3">
                              <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                              <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
            
          </div>
      </div>
      <!-- Footer End -->

      <!-- Copyright Start -->
      <div class="container-fluid copyright  py-4" style="background:black;">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>PoupeComprando</a>, Todos os direitos reservados.</span>
                  </div>
                  <div class="col-md-6 my-auto text-center text-md-end text-white">
                        <div class="d-flex justify-content-end pt-3">
                              <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                              <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                          </div>
              </div>
          </div>
      </div>
      <!-- Copyright End -->



      <!-- Back to Top -->
      <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

      
  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{%static 'lib/easing/easing.min.js' %}"></script>
  <script src="{%static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{%static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{%static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<!-- Modal para Estado -->
<!-- Modal para Estado -->
<div id="stateModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('stateModal')">&times;</span>
    <input id="stateInput" type="text" placeholder="Digite o estado">
    <button onclick="saveState()">Salvar Estado</button>
  </div>
</div>

<!-- Map Modal -->
<div id="mapModal"  class="modal-location" style="z-index:99999;">
  <div class="modal-content" style="width:90%; max-width:60rem; z-index:99999;">
    <span class="close" onclick="closeModal('mapModal')">&times;</span>
    <h3>Confirme sua localização</h3>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <button class="btn btn-primary" id="requestStreetNumber" onclick="showNumberModal()" style="margin-top: 10px; color:#fff;">Confirmar Localização</button>
  </div>
</div>
<div id="numberModal" class="modal-location" style="z-index:99999;">
  <div class="modal-content" style="max-width:35rem; width:90%;">
      <span class="close" onclick="closeModal('numberModal')">&times;</span>
      <h3>Informe o número do endereço</h3>
      <input type="text" id="streetNumber" placeholder="Digite o número do endereço aqui">
      <button class="btn btn-primary" style="color:#fff;" onclick="confirmAddress()">Confirmar Endereço</button>
  </div>
</div>



<!-- Modal para Cidade -->
<div id="cityModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('cityModal')">&times;</span>

    <input id="cityInput" type="text" placeholder="Digite a cidade">
    <button onclick="saveCity()">Salvar Cidade</button>
  </div>
</div>

<!-- Modal ou Div para Número do Endereço -->
<div id="addressDetails" style="display:none;">
  <p>Confirme o número do endereço e informações adicionais:</p>
  <input type="text" id="streetNumber" placeholder="Número do Endereço" />
  <button onclick="confirmAddress()">Confirmar Endereço</button>
</div>
<script>
  function initAutocomplete() {
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            alert("No details available for input: '" + input.value + "'");
            return;
        }

        console.log("Address Components:", place.address_components);

        const addressComponents = place.address_components;
        const hasStreet = addressComponents.some(c => c.types.includes("route"));
        // Modificação aqui para verificar 'locality' ou 'administrative_area_level_2'
        const hasCity = addressComponents.some(c => c.types.includes("locality") || c.types.includes("administrative_area_level_2"));

        console.log("Has street:", hasStreet);
        console.log("Has city:", hasCity);

        if (!hasStreet || !hasCity) {
            alert("Por favor, forneça um endereço mais completo incluindo rua e cidade.");
            return;
        }

        window.formattedAddress = place.formatted_address;
        openMapAtLocation(place.geometry.location);
    });
}
// Verifica se o mapa já foi inicializado
function isMapLoaded() {
  return window.map && window.map instanceof google.maps.Map;
}


function showModal(modalId) {
  var modal = document.getElementById(modalId);
  if (modal) {
    modal.style.display = 'flex'; // ou 'flex', 'inline', etc., dependendo do seu CSS
    // Adicione outras classes ou atributos se necessário
    // Por exemplo, se estiver usando Bootstrap, você pode precisar ativar o modal via JavaScript aqui
  } else {
    console.error('Modal not found: ' + modalId);
  }
}

function updateAddressFromMarker() {
  const position = window.marker.getPosition();
  const geocoder = new google.maps.Geocoder();

  geocoder.geocode({ location: position }, (results, status) => {
      if (status === 'OK' && results[0]) {
          console.log(results[0].formatted_address);
          // Aqui você pode definir window.formattedAddress com o novo endereço, se desejado
          window.formattedAddress = results[0].formatted_address;
      } else {
          console.error('Geocoder failed due to: ' + status);
      }
  });
}

function showNumberModal() {
  var modal = document.getElementById('numberModal');
  if (modal) {
      modal.style.display = 'flex'; // Ou 'flex' ou outro conforme seu CSS
  } else {
      console.error('Modal for street number is not found');
  }
}
// Inicializa o mapa no elemento com ID 'map'
function initializeMap(latLng) {
  const mapElement = document.getElementById('map');
  if (mapElement) {
    window.map = new google.maps.Map(mapElement, {
      center: latLng,
      zoom: 15
    });

    window.marker = new google.maps.Marker({
      position: latLng,
      map: window.map,
      draggable: true
    });

    window.marker.addListener('dragend', function() {
      updateAddressFromMarker();
    });

    return true;
  }
  return false;
}

// Abre o mapa na localização dada por latLng
function openMapAtLocation(latLng) {
  // Se o mapa já foi carregado, apenas ajusta o centro e a posição do marcador
  if (isMapLoaded()) {
    window.map.setCenter(latLng);
    window.marker.setPosition(latLng);
  } else {
    // Se o mapa ainda não foi carregado, inicializa-o
    if (!initializeMap(latLng)) {
      console.error('Falha ao inicializar o mapa');
    }
  }
  document.querySelector('#locationModal').style.display = 'none'
  // Mostra o modal do mapa
  showModal('mapModal');
}



function confirmAddress() {
  const streetNumber = document.getElementById('streetNumberInput').value;
  const position = window.marker.getPosition();
  const fullAddress = window.formattedAddress ? `${window.formattedAddress}, ${streetNumber}` : `Address not available`;

  const addressDetails = {
      latitude: position.lat(),
      longitude: position.lng(),
      address: fullAddress
  };

  fetch('/set_location/', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken')
      },
      body: JSON.stringify(addressDetails)
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
        window.location.href = '/lojas_proximas/';
    } else {
        alert('Não foi possível definir a localização: ' + (data.error || 'Erro desconhecido'));
    }
})
  .catch(error => {
      console.error('Erro ao definir localização:', error);
  });
}

let currentCountry = null;

function initModalAutocomplete(modalId, inputId, options) {
  var input = document.getElementById(inputId);
  var autocomplete = new google.maps.places.Autocomplete(input, options);
  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      alert("No details available for input: '" + input.value + "'");
      return;
    }
    document.getElementById(inputId).dataset.placeId = place.place_id; // Salva o place_id para uso posterior
  });

  showModal(modalId);
}



function confirmAddress() {
  const streetNumber = document.getElementById('streetNumber').value;
  const position = window.marker.getPosition();
  const fullAddress = window.formattedAddress && streetNumber ? `${window.formattedAddress}, ${streetNumber}` : `Address not available`;
  
  const addressDetails = {
    latitude: position.lat(),
    longitude: position.lng(),
    address: fullAddress
  };

  console.log("Endereço a ser enviado:", addressDetails);

  fetch('/set_location/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': getCookie('csrftoken')
    },
    body: JSON.stringify(addressDetails)
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
      window.location.href = '/lojas_proximas/';
    } else {
      alert('Não foi possível definir a localização: ' + (data.error || 'Erro desconhecido'));
    }
  })
  .catch(error => {
    console.error('Erro ao definir localização:', error);
  });
}
  // Função para obter o cookie CSRF do Django.
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
</script>


  <!-- Modal do Carrinho -->
<div class="modal fade" id="carrinhoModal" tabindex="-1" aria-labelledby="carrinhoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="carrinhoModalLabel">Carrinho de Compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <!-- Aqui você vai inserir o conteúdo do carrinho dinamicamente -->
        <div id="conteudoCarrinho">
          <!-- Conteúdo do carrinho será carregado aqui -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar Comprando</button>
        <a href="{%url 'checkout' %}" <button type="button" class="btn btn-primary" style="color:#fff;">Finalizar Compra</button> </a>
      </div>
    </div>
  </div>
</div>

<div class="cookiesContainer modal2" >
<div class="modal-content2">

  <h3>
    Política de Cookies
  </h3>
  <p class="text-center" style="max-width:60rem; font-size:1rem;color:#000;">
    Utilizamos cookies para oferecer uma melhor experiência de navegação em nosso site. Ao clicar em <strong>"ACEITO"</strong>, você concorda com o seu uso. Para maiores informações, consulte nossa Política de Privacidade. </p>
  <button class="btn btn-primary aceitarCookies" style="color:#fff; font-size:1.2rem; padding:.5rem 2rem; border-radius:30px;">
    ACEITO
  </button>
</div>

</div>
  
  <!-- Remove Modal -->
  <div class="modal fade" id="successRemove" tabindex="-1" aria-labelledby="successRemove" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <!-- ... rest of modal content ... -->
      <div class="modal-body">
    
        <div class="d-flex flex-column align-items-center" style="gap:1rem;">
          <img style="max-height:5rem;" src="{%static 'img/close.png'%}">
        <div class="messages">
      
        <span style="text-align:center; font-size:1.2rem !important;">Produto removido com sucesso!</span>
     
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Verifica se o consentimento já foi dado
    if(localStorage.getItem('aceitouCookies') === 'true') {
      document.querySelector('.cookiesContainer').style.display = 'none';
    } else {
      setTimeout(function() {
        document.querySelector('.cookiesContainer').style.display = 'flex';
      }, 2000);
    }
  });
  
  document.querySelector('.aceitarCookies').addEventListener('click', function() {
    document.querySelector('.cookiesContainer').style.display = 'none';
    
    // Salva no localStorage que o usuário aceitou os cookies
    localStorage.setItem('aceitouCookies', 'true');
  });
  </script>
<script>
  function getCsrfToken() {
    let csrfToken = '';
    const cookies = document.cookie.split(';');
    for (let cookie of cookies) {
        let parts = cookie.split('=');
        if (parts[0].trim() === 'csrftoken') {
            csrfToken = parts[1];
            break;
        }
    }
    return csrfToken;
}
  document.querySelectorAll('.abrir-carrinho').forEach(function(button) {
    button.addEventListener('click', function() {
      fetch('/ver_carrinho/')
        .then(response => response.text())
        .then(html => {
          document.getElementById('conteudoCarrinho').innerHTML = html;
          // Abre o modal do carrinho
          new bootstrap.Modal(document.getElementById('carrinhoModal')).show();
        })
        .catch(error => console.error('Erro ao buscar o carrinho:', error));
    });
  });

  function atualizarConteudoCarrinho() {
    fetch('/ver_carrinho/')
        .then(response => response.text())
        .then(html => {
            document.getElementById('conteudoCarrinho').innerHTML = html;
        })
        .catch(error => console.error('Erro ao atualizar o carrinho:', error));
}
  document.body.addEventListener('click', function(event) {
    if (event.target.classList.contains('remover-item')) {
        let produtoId = event.target.getAttribute('data-produto-id');
        fetch(`/remover_do_carrinho/${produtoId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken()
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // Remover o item do DOM
                
                atualizarConteudoCarrinho();
                new bootstrap.Modal(document.querySelector('#successRemove')).show();
            } else {
                console.error('Erro ao remover o item:', data.message);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
        });
    }
});
</script>
 

  <script src="{% static 'js/main.js' %}"></script>
<!--
  <script>
      if ("geolocation" in navigator) {
          // A geolocalização está disponível
          navigator.geolocation.getCurrentPosition(function(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
        
            // Exibir a latitude e longitude no console
            console.log('Latitude:', latitude, 'Longitude:', longitude);
          }, function(error) {
            // Tratar erros de geolocalização aqui
            console.log('Erro ao obter localização:', error);
          });
        } else {
          // A geolocalização não está disponível
          console.log("Geolocalização não está disponível");
        }
  </script>
   -->

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <!-- ... rest of modal content ... -->
    <div class="modal-body">
      <div class="d-flex flex-column align-items-center" style="gap:1rem;">
      <img style="max-height:5rem;" src="{%static 'img/check (1).png'%}">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        {% if message.tags == 'success' %}
          <span style="text-align:center; font-size:1.2rem !important;">{{ message }}</span>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    </div>
    </div>
  </div>
  </div>
  
  <!-- Error Modal -->
  <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <!-- ... rest of modal content ... -->
    <div class="modal-body">
  
      <div class="d-flex flex-column align-items-center" style="gap:1rem;">
        <img style="max-height:5rem;" src="{%static 'img/close.png'%}">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        {% if message.tags == 'error' %}
      <span style="text-align:center; font-size:1.2rem !important;">{{ message }}</span>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      </div>
    </div>
    </div>
  </div>
  </div>


  


    



  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
      var successModal = new bootstrap.Modal(document.getElementById('successModal'));
      successModal.show();
      {% elif message.tags == 'error' %}
      var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
      errorModal.show();
      {% endif %}
    {% endfor %}
    {% endif %}
  });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Owl Carousel JS -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvXSw3zlzpwUGgH8LOfa4URXceC9LGMI4&libraries=places,geometry,marker&callback=initAutocomplete" async defer></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  </body>

</html>