{%load static%}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PoupeComprando</title>
  <link rel="stylesheet" href="{%static 'css-dashboard/styles.min.css' %}">
  <link rel="stylesheet" href="{%static 'css-dashboard/custom.css' %}">

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="{{loja.foto.url}}" style="height:5rem; object-fit:cover; width:5rem; border-radius:50%;" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <img style="height:1rem;" src="{%static 'img/close (3).png' %}">
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Saldo: R$ {{loja.saldo}} </span><br><br>
              
              <span class="hide-menu">Home </span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'editar_loja'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Geral</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'ver_pedidos_loja'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Pedidos Entregues</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'pedidos_pendentes'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Pedidos Pendentes</span>
              </a>
            </li>
            <li class="sidebar-item ">
              <a class="sidebar-link" href="{%url 'sacar_dinheiro' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class=" hide-menu">Saque</span>
              </a>
            </li>
            <li class="sidebar-item ">
              <a class="sidebar-link" href="{%url 'criar_pedido_loja'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class=" hide-menu">Criar Pedido</span>
              </a>
            </li>
      
           
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Produtos</span>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'editar_geral' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Perfil Loja</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'catalogo' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-marker-alt"></i>
                </span>
                <span class="hide-menu">Catálogo</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'gerenciar_promocoes' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-marker-alt"></i>
                </span>
                <span class="hide-menu">Promoções</span>
              </a>
            </li>
            <li class="sidebar-item d-none">
              <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu ">Promoções</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'entrega' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Entrega</span>
              </a>
            </li>

          
          
          </ul>
          
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <img style="height:1.5rem;" src="{%static 'img/more.png' %}">
              </a>
            </li>
            <li class="nav-item d-none">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img style="object-fit:cover;" src="{{loja.foto.url}}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
               
                    <form class="d-flex align-items-center " action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="mb-0 nav-item nav-link py-0" style="border:none; background:none; font-size:.9rem !important;">Sair</button>
                  </form>
                    <a href="{%url 'perfil_loja' loja.id %}" class="nav-item nav-link mt-0 mb-3 py-0" style="font-size:.9rem !important;">Ver perfil</a>
                    <a href="{%url 'home'%}" class="btn btn-outline-primary mx-3 d-block">Voltar para o site</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <!-- ... rest of modal content ... -->
    <div class="modal-body">
      <div class="d-flex flex-column align-items-center" style="gap:1rem;">
      <img style="max-height:5rem;" src="{%static 'img/check (1).png'%}">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        {% if message.tags == 'success' %}
          <span style="text-align:center; font-size:1.2rem !important;">{{ message }}</span>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    </div>
    </div>
  </div>
  </div>
  
  <!-- Error Modal -->
  <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <!-- ... rest of modal content ... -->
    <div class="modal-body">
  
      <div class="d-flex flex-column align-items-center" style="gap:1rem;">
        <img style="max-height:5rem;" src="{%static 'img/close.png'%}">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        {% if message.tags == 'error' %}
      <span style="text-align:center; font-size:1.2rem !important;">{{ message }}</span>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      </div>
    </div>
    </div>
  </div>
  </div>



    



  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
      var successModal = new bootstrap.Modal(document.getElementById('successModal'));
      successModal.show();
      {% elif message.tags == 'error' %}
      var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
      errorModal.show();
      {% endif %}
    {% endfor %}
    {% endif %}
  });
  </script>


      {%block 'conteudo'%}


      {%endblock%}



    </div>
    <script src="{%static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{%static 'lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'js/sidebarmenu.js' %}"></script>
    <script src="{%static 'js/app.min.js' %}"></script>
    <script src="{%static 'lib/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{%static 'lib/simplebar/dist/simplebar.js' %}"></script>
    <script src="{%static 'js/dashboard.js' %}"></script>
  </body>
  
  </html>