<div class="carrinho-container">
    {% if itens_normais or itens_promocionais %}
        <ul class="lista-de-itens">
            {% for produto_info in itens_normais %}
                <li class="item-carrinho mb-5">
                    <!-- Detalhes do produto -->
                    <div class="detalhes-produto d-flex" style="gap:.5rem;">
                        <img style="height:7.3rem; width:7.3rem; border-radius:4px; object-fit:cover;" src="{{ produto_info.imagem_url }}" alt="{{ produto_info.nome }}">
                        <div class="d-block">
                            <h5>{{ produto_info.nome }}</h5>
                            <p style="margin-bottom:.5rem;">Preço unitário: R$ {{ produto_info.preco }}</p>
                            <p style="margin-bottom:.5rem;">Pontos: {{ produto_info.pontos }}</p>
                            <div class="acoes">
                                <div class="d-flex align-items-center" style="gap:.5rem"><span>Quantidade:</span>
                                    <input type="number" class="quantidade-input mt-0" data-produto-id="{{ produto_info.produto_id }}" value="{{ produto_info.quantidade }}" min="1" style="height:2rem; max-width:4.5rem; border-radius:12px text-align: center;">
                                </div>
                                <button class="btn btn-danger remover-item" data-produto-id="{{ produto_info.produto_id }}">Remover</button>
                            </div>
                        </div>
                    </div>
                    <!-- Input de quantidade e botões de ação -->
                   
                </li>
            {% endfor %}
            
             {% for produto_info in itens_promocionais %}
                <li class="item-carrinho mb-5">
                    <div class="detalhes-produto d-flex" style="gap:.5rem;">
                        <img style="height:7.3rem; width:7.3rem; border-radius:4px; object-fit:cover;" src="{{ produto_info.imagem_url }}" alt="{{ produto_info.nome }}">
                        <div class="d-block">
                            <h5>{{ produto_info.nome }} (Promoção)</h5>
                            <p style="margin-bottom:.5rem !important;">Preço unitário: R$ {{ produto_info.preco }}</p>
                        </div>
                    </div>
                  
                </li>
            {% endfor %}
          
        </ul>

        <div class="total-geral-carrinho">
            <h5>Total: R${{ total_geral_carrinho }}</h5>
        </div>
    {% else %}
        <p>Seu carrinho está vazio.</p>
    {% endif %}
</div>
<script>

</script>
