{%load static%}

<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/credito.css'%}">
<!--===============================================================================================-->	

<!--===============================================================================================-->
</head>
<body>
	
	
        <main id="main">
            <section id="left" style="border-radius:8px">
                <div id="head">
                    <h1>Aproveite a vida!</h1>
                    <p>Com Poups, suas moedas valem mais! Economize em cada lanche, transforme compras em ganhos.</p>
                    <img style="height:13rem; border-radius:50%;" src="{%static 'img/dev122062_faz_uma_logo_parecida_com_ifood_para_uma_plataforma_c_a6720ce1-23ea-425a-9b63-d7921326b252%20(1).png' %}">
                </div>
            </section>
            <section id="right">
                <h1>Comprar Poups</h1>
                <form method="post" action="{%url 'payment' %}">
                    <div id="form-card" class="form-field">
                        <label for="valor_credito">Valor Desejado (em reais):</label>
            <input type="number" id="valor_credito" name="valor_credito" required>
                    </div>
        
                    {% csrf_token %}
           
            <button type="submit">Finalizar Compra</button>
                </form>
            </section>
        </main>
</body>
</html>