{%load static%}

<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/credito.css'%}">
<!--===============================================================================================-->	

<!--===============================================================================================-->
</head>
<body>
	
	
        <main id="main">
            <section id="left" style="border-radius:8px; justify-content:center !important;">
                <div id="head">
                    <h1 class="mb-0 fw-bold text-primary display-6 " style="color:#000 !important; font-size:1.6rem;">Poupe<span style="color:#fff">Comprando</span></h1>                </div>

                    <h1>Aproveite a vida!</h1>
                    <p>Com Poups, suas moedas valem mais! Economize em cada lanche, transforme compras em ganhos.</p>
            </section>
            <section id="right">
                <h1>Comprar Poups</h1>
                <form method="post" action="{%url 'payment' %}">
                    <div id="form-card" class="form-field">
                        <label for="valor_credito">Valor Desejado (em reais):</label>
            <input type="number" id="valor_credito" name="valor_credito" required>
                    </div>
        
                    {% csrf_token %}
           
            <button type="submit">Finalizar Compra</button>
                </form>
            </section>
        </main>
</body>
</html>