{% extends 'core/base-dashboard.html' %}
{% load static %}
{% block 'conteudo' %}
  <div class="container-fluid">
    <div class="container-fluid">
      <form id="capaForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Informações Gerais</h5>

            <div class="card">
              <div class="card-body">
                <!-- Formulário para editar informações da loja -->
                <form method="POST" id="categoriaForm">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label for="nomeCategoria">Nome da Loja:</label>
                    <input type="text" id="nomeCategoria" value="{{ loja.nomeLoja }}" name="nomeLoja" class="form-control mb-3">
                    
                    <label for="nomeProprietario">Nome do Proprietário:</label>
                    <input type="text" id="nomeProprietario" value="{{ loja.nome }}" name="nome" class="form-control mb-3">
                    
                    <label for="cnpj">CNPJ da Loja:</label>
                    <input type="text" id="cnpj" value="{{ loja.username }}" class="form-control mb-3" disabled>
                    
                    <label for="email">Email da Loja:</label>
                    <input type="email" id="email" value="{{ loja.email }}" name="email" class="form-control mb-3">
                    
                    <label for="categorias">Categoria(s) da Loja:</label>
                    {{ form.categorias }}
                  </div>
                  
                  <button name="categoria_submit" type="submit" class="mt-3 btn btn-primary">Salvar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Capa do perfil</h5>
            <img style="width:100%;border-radius:4px; height:20rem; object-fit:cover;" src="{{ loja.capa.url }}" id="capaPreview" style="cursor: pointer;">
            <input type="file" id="capaUpload" name="capa" accept=".png, .jpg, .jpeg" style="display: none;" onchange="previewCapa(this)">
            
            <div class="d-flex justify-content-center">
              <button id="saveBtn" class="mt-3 btn btn-primary" style="background:#b11000; border:none;">Salvar</button>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Imagem de Perfil</h5>
            <img style="width:150px;height:150px;border-radius:50%;object-fit:cover;" src="{{ loja.foto.url }}" id="fotoPreview" style="cursor: pointer;">
            <input type="file" id="fotoUpload" name="foto" accept=".png, .jpg, .jpeg" style="display: none;" onchange="previewFoto(this)">
            
            <div class="d-flex justify-content-center">
              <button id="saveFotoBtn" class="mt-3 btn btn-primary" style="background:#b11000; border:none;">Salvar</button>
            </div>
          </div>
        </div>
      </form>

      <script>
        document.getElementById('capaPreview').addEventListener('click', function() {
          document.getElementById('capaUpload').click();
        });

        function previewCapa(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              document.getElementById('capaPreview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
          }
        }

        document.getElementById('saveBtn').addEventListener('click', function(event) {
          event.preventDefault();
          
          var formData = new FormData();
          var capaUpload = document.getElementById('capaUpload');
          
          if (capaUpload.files[0]) {
            formData.append('capa', capaUpload.files[0]);
          }
          
          var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
          formData.append('csrfmiddlewaretoken', csrfToken);
          
          fetch('/update_capa/', {
            method: 'POST',
            body: formData,
            headers: {
              'X-CSRFToken': csrfToken
            }
          })
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Ocorreu um problema no servidor.');
          })
          .then(data => {
            console.log(data);
            alert('Capa do perfil atualizada com sucesso!');
          })
          .catch(error => {
            console.error('Erro ao atualizar a capa do perfil:', error);
            alert('Ocorreu um erro ao atualizar a capa do perfil.');
          });
        });

        document.getElementById('fotoPreview').addEventListener('click', function() {
          document.getElementById('fotoUpload').click();
        });

        function previewFoto(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              document.getElementById('fotoPreview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
          }
        }

        document.getElementById('saveFotoBtn').addEventListener('click', function(event) {
          event.preventDefault();
          
          var formData = new FormData();
          var fotoUpload = document.getElementById('fotoUpload');
          
          if (fotoUpload.files[0]) {
            formData.append('foto', fotoUpload.files[0]);
          }
          
          var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
          formData.append('csrfmiddlewaretoken', csrfToken);
          
          fetch('/update_foto/', {
            method: 'POST',
            body: formData,
            headers: {
              'X-CSRFToken': csrfToken
            }
          })
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Ocorreu um problema no servidor.');
          })
          .then(data => {
            console.log(data);
            alert('Imagem de perfil atualizada com sucesso!');
          })
          .catch(error => {
            console.error('Erro ao atualizar a imagem de perfil:', error);
            alert('Ocorreu um erro ao atualizar a imagem de perfil.');
          });
        });
      </script>
    </div>
  </div>
{% endblock %}