{%extends 'core/base.html'%}
{%load static%}
{%block 'conteudo'%}

<div id="locationModal" class="modal1 {%if user.is_authenticated%}d-none{%endif%}">
    <div class="modal-content1">
      <div class="modal-header1">
        
        <h2 class=" text-center modal-title" style="font-size:2.2rem; color:#000 !important;">Onde você quer receber seu pedido?</h2>
        <div class="mb-3 d-flex justify-content-center">
          <img style="height:15rem; border-radius:4px;" src="{%static 'img/motoboy.png' %}">
          </div>
      </div>
      <div class="modal-body1">
        <input class="w-100" id="autocomplete" placeholder="Digite seu endereço" type="text" />

        <button class="w-100" style="background:#1094F5; font-size:1.2rem; border-radius:4px;" id="useLocation">Usar minha localização</button>
        <p>Já tem um endereço salvo? <a href="{%url 'login' %}">Entre</a> ou <a href="{%url 'registerCliente' %}">cadastre-se</a></p>
      </div>
    </div>
  </div>


        <!-- Hero Start -->
        <div class="container-fluid  hero-header">
            <div class="container ">
                <div class="row md-12 align-items-center">
                    <div class="col-md-12 col-lg-12  d-flex flex-column align-items-center">
                        <h2 class="mb-3 text-center title-text " style="color:#000 !important; font-weight:700; font-size:3.5rem;">Compre mais, gaste menos,<br> viva melhor com PoupeComprando!</h2>
                        <div class=" d-flex justify-content-center align-items-center">
                            <input class="d-none    form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill abrir-endereco" type="number" placeholder="Pesquisar">
                           {%if not user.is_authenticated%}<a class="d-flex w-100" > <button type="submit" class="fw-bold btn abrir-endereco btn-primary ver-lojas-desk  py-3 px-4 text-white" style="top: 0; right: 25%; max-width:30rem; width:100%; border:none; font-size:1.5rem; border-radius:4px; ">Ver lojas próximas</button>
                           </a>
                           {%else%}
                           <a class="d-flex w-100" href="{%url 'loja'%}" > <button type="submit" class="fw-bold btn btn-primary ver-lojas-desk  py-3 px-4 text-white" style="top: 0; right: 25%; max-width:30rem; width:100%; border:none; font-size:1.5rem; border-radius:4px; ">Ver lojas próximas</button>
                           </a>
                           {%endif%}
                        </div>
                    </div>

                   
                    <div class="col-md-12 col-lg-5 d-none">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">

                                <div class="carousel-item active rounded">
    
                                    <img src="{%static 'img/robin-stickel-tzl1UCXg5Es-unsplash.jpg' %}" style="height:20rem; object-fit:cover !important;" class="img-fluid w-100 bg-secondary rounded" alt="First slide">
                                    <a href="{% url 'listar_lojas' %}?categorias={{ 2 }}" class="btn px-4 py-2 text-white rounded">Lanches</a>
                                </div>
                            </a>
                                <div class="carousel-item rounded">
                                    <img src="{%static 'img/jakub-dziubak-iOHJKJqO6E0-unsplash.jpg' %}" style="height:20rem; object-fit:cover !important;" class="img-fluid w-100  rounded" alt="Second slide">
                                    <a href="{% url 'listar_lojas' %}?categorias={{ 1 }}" class="btn px-4 py-2 text-white rounded">Sushi</a>
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="{%static 'img/jakub-kapusnak-4f4YZfDMLeU-unsplash.jpg' %}" style="height:20rem; object-fit:cover !important;" class="img-fluid w-100  rounded" alt="Second slide">
                                    <a href="{% url 'listar_lojas' %}?categorias={{ 3 }}" class="btn px-4 py-2 text-white rounded">Restaurantes</a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ver-lojas-mobile justify-content-center align-items-center  container" style="margin-top:-1rem; display:none;">
          <input class="d-none    form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill abrir-endereco" type="number" placeholder="Pesquisar">
         {%if not user.is_authenticated%}<a class="d-flex justify-content-center w-100" > <button type="submit" class="fw-bold btn abrir-endereco btn-primary ver-lojas-mobile  p-2 text-white" style="border-radius:4px; top: 0; right: 25%; max-width:30rem; width:100%; border:none; font-size:1.2rem; max-width:17rem; ">Ver lojas próximas</button>
         </a>
         {%else%}
         <a class="d-flex justify-content-center w-100" href="{%url 'loja'%}" > <button type="submit" class="fw-bold btn btn-primary ver-lojas-mobile  p-2 text-white" style="border-radius:4px; top: 0; right: 25%; max-width:30rem; width:100%; border:none; font-size:1.2rem; max-width:17rem; ">Ver lojas próximas</button>
         </a>
         {%endif%}
      </div>

        <div class="mt-4 mb-3 container categorias-mobile " style="justify-content:center; display:none;">
          <h3 class="text-center categorias-mobile" style="display:none;"> Categorias: </h3>
          </div>
        <div class="grid-container container categorias-mobile" style="display:none;">
          <div class="d-flex" style="display: flex; justify-content: center; margin-bottom:.3rem; gap:.3rem;">
          <div class="grid-item" style="font-size:.8rem;">Lanches</div>
          <div class="grid-item" style="font-size:.8rem;">Restaurantes</div>
          <div class="grid-item" style="font-size:.8rem;">Sushi</div>
        </div>
        <div style="display: flex; justify-content: center; gap:.3rem; margin-bottom: .3rem;">
          <div class="grid-item" style="font-size:.8rem;">Bebidas</div>
          <div class="grid-item" style="font-size:.8rem;">Doces</div>
        </div>
        <div class="d-flex" style="display: flex; justify-content: center; margin-bottom:.3rem; gap:.3rem;">
          <div class="grid-item" style="font-size:.8rem;">Massas frescas</div>
          <div class="grid-item" style="font-size:.8rem;">Limpeza</div>
          <div class="grid-item" style="font-size:.8rem;">Padaria</div>
        </div>
        <div style="display: flex; justify-content: center; gap:.3rem; margin-bottom: .3rem;">
          <div class="grid-item" style="font-size:.8rem;">Higiene</div>
          <div class="grid-item" style="font-size:.8rem;">Congelados</div>
        </div>
        <div class="d-flex" style="display: flex; justify-content: center; gap:.3rem;">
          <div class="grid-item" style="font-size:.8rem;">Farmácias</div>
          <div class="grid-item" style="font-size:.8rem;">Supermercados</div>
          <div class="grid-item" style="font-size:.8rem;">Mercearias</div>
        </div>
        
        </div>
        <!-- Hero End -->
        
        <div class="mt-5 mb-4 d-flex container categorias-desk-title " style="justify-content:center;">
            <h3 class="mb-2"> Categorias: </h3>
            </div>
        <div class="container d-flex categorias-desk" style="justify-content:start; gap:1.5rem; overflow-x:auto; white-space: nowrap;">
            
        {% for categoria in categorias %}

        {%if user.is_authenticated%}
        <a class="d-flex flex-column align-items-center" href="{% url 'loja' %}?categoria={{ categoria.id }}&distancia={{ request.GET.distancia|default:'10' }}&freteGratis={{ request.GET.freteGratis|default:'nao' }}">
        <img style="width:8rem; height:8rem; object-fit:cover; border-radius:4px;" src="{{ categoria.foto.url }}" alt="{{ categoria.nome }}">
            <span>{{ categoria.nome }}</span>
        </a>
        {% else %}
    <a class="d-flex flex-column align-items-center abrir-endereco" data-redirect-url="/loja/categoria={{ categoria.id }}&distancia={{ request.GET.distancia|default:'10' }}&freteGratis={{ request.GET.freteGratis|default:'nao' }}">
            <img style="width:8rem; height:8rem; object-fit:cover; border-radius:4px;" src="{{ categoria.foto.url }}" alt="{{ categoria.nome }}">
                <span>{{ categoria.nome }}</span>
            </a>
        {%endif%}
        {% endfor %}
    </div>
    
    
        
        <div class="mt-5 container d-flex justify-content-center">
        <h3 class="mb-4"> Lojas mais populares: </h3>
        </div>
    
        <div class="swiper-container container">

          <div class="swiper-wrapper mt-3">
            {% for loja in lojas|slice:":6" %}
            <div class="swiper-slide  d-flex align-items-center justify-content-center" style="gap:.7rem;">
              <img style="width:3rem; height:3rem; border-radius:50%; object-fit:cover;" src="{{loja.foto.url}}">
              <h5>{{loja.nomeLoja}}</h5>

              
            </div>
            {%endfor%}
           
            <!-- Adicione mais slides aqui -->
          </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
              const modal = document.getElementById("locationModal");
              const btn = document.getElementById("useLocation");
              const abrirEndereco = document.querySelectorAll('.abrir-endereco');
          
              abrirEndereco.forEach((btn) => 
              {
                btn.addEventListener('click', function() {
                  modal.style.display = 'flex';
                
                })
                })
                
              
          
              //if (localStorage.getItem('locationPermission') !== 'granted') {
              //   modal.style.display = "flex";
              //}
              function getAddressFromCoordinates(latitude, longitude, callback) {
                var geocoder = new google.maps.Geocoder();
                var latLng = new google.maps.LatLng(latitude, longitude);
              
                geocoder.geocode({ 'location': latLng }, function(results, status) {
                  if (status === google.maps.GeocoderStatus.OK && results[0]) {
                    callback(results[0].formatted_address);
                  } else {
                    console.error('Geocoding failed: ' + status);
                    callback('');
                  }
                });
              }
          
              btn.onclick = function() {
                navigator.geolocation.getCurrentPosition(function(position) {
                  localStorage.setItem('locationPermission', 'granted');
              
                  var latitude = position.coords.latitude;
                  var longitude = position.coords.longitude;
              
                  getAddressFromCoordinates(latitude, longitude, function(address) {
                    if (address) {
                      console.log('Endereço obtido:', address);
              
                      fetch('/set_location/', {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify({
                          latitude: latitude,
                          longitude: longitude,
                          address: address  // Aqui você passa o endereço obtido
                        })
                      })
                      .then(response => response.json())
                      .then(data => {
                      
                            window.location.href = '/loja/'; // Redireciona para a URL padrão
                        
                      })
                      .catch(error => {
                        console.error('Erro ao enviar localização:', error);
                      });
                    } else {
                      // Trate o caso onde o endereço não pôde ser obtido
                      console.error('Endereço não encontrado para as coordenadas.');
                    }
                  });
              
                }, function(error) {
                  console.error('Erro ao obter localização:', error);
                  localStorage.setItem('locationPermission', 'denied');
                });
              };
            });
          </script>
          
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 10,
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 10
        },
        640: {
          slidesPerView: 1,
          spaceBetween: 10
        },
        768: {
          slidesPerView: 1,
          spaceBetween: 10
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 10
        },
      },
      loop: true,
      autoplay: {
        delay: 2000,
        disableOnInteraction: true
      }
    });
  </script>
        <!-- Tastimonial End -->

{%endblock%}