<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>


<body>

<div class="container mt-5 d-flex justify-content-start" style="gap:4rem">

<div class="d-flex flex-column align-items-center">

    <img style="height: 5rem;" src="assets\img\Restaurantes3_vTNE.avif">
    <span>Restaurantes</span>
</div>

<div class="d-flex flex-column align-items-center">

    <img style="height: 5rem;" src="assets\img\Restaurantes3_vTNE.avif">
    <span>Farmácia</span>


</div>


<div class="d-flex flex-column align-items-center">

    <img style="height: 5rem;" src="assets\img\Bebidas_X9kU.avif">
    <span>Bebidas</span>


</div>

</div>


<div class="container mt-5 d-flex justify-content-start" style="gap:1rem;">


<a>
    <img style="height: 12rem; border-radius:12px;" src="assets\img\0111capaprincipalfamosos_hfAv.avif">

</a>
<a>
    <img style="height: 12rem; border-radius:12px;" src="assets\img\1306PromotionsCampanhasSeloPIJCampanhasAlwaysOnrestaurantesegprincipal_PWdI.avif">

</a>
<a>
    <img style="height: 12rem; border-radius:12px;" src="assets\img\CapaPrincipalGenericoPedeiFoodJa_3VQT.avif">

</a>


</div>

<div class="container mt-5">
    <h4>Mais iFood pra você</h4>

    <div class="mt-5 d-flex flex-column" style="width: fit-content;"> 

    <img style="width: 7rem;" src="assets\img\03cupons_ESAv.avif">
    <span class="text-center">Cupons</span>
</div>

</div>


<div class="container mt-5  w-100" style="gap:2rem">
    <h4>Famosos no iFood</h4>

    <div class=" d-flex justify-content-start w-100" style="gap:2rem">
        <div class="mt-5 d-flex flex-column" style="width: fit-content;" > 

    <img style="width: 7rem;" src="assets\img\03cupons_ESAv.avif">

    <span class="text-center">Cupons</span>
</div>

<div class="mt-5 d-flex flex-column" style="width: fit-content;" > 

    <img style="width: 7rem;" src="assets\img\03cupons_ESAv.avif">

    <span class="text-center">Cupons</span>
</div>

</div>
</div>



<div class="container mt-5">
    <h4>Mais iFood pra você</h4>

    <div class="mt-5 d-flex flex-column" style="width: fit-content;"> 

    <img style="width: 7rem;" src="assets\img\03cupons_ESAv.avif">
    <span class="text-center">Cupons</span>
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>

</html>