{%extends 'core/base.html'%}

{%load static%}

{%block 'conteudo'%}
<div class="container mt-5 d-flex flex-column align-items-start" style="margin-top:7rem !important;" >

<h3 style="font-size:1.3rem" >Filtrar por Categoria:</h3>

<div class="scroll-container container mt-3 d-flex justify-content-start" style="gap:3rem;  overflow-x:auto; white-space: nowrap;">

{% for categoria in categorias %}

    <a class="d-flex flex-column align-items-center" href="{% url 'loja' %}?categoria={{ categoria.id }}&distancia={{ request.GET.distancia|default:'100' }}&freteGratis={{ request.GET.freteGratis|default:'nao' }}">
    <img style="width:5rem; height:5rem; object-fit:cover; border-radius:50%;" src="{{ categoria.foto.url }}" alt="{{ categoria.nome }}">
        <span>{{ categoria.nome }}</span>
    </a>
    {% endfor %}



</div>

</div>
<div class="container mt-5 d-flex flex-column align-items-start" >
   
    <h3 style="font-size:1.3rem">Ofertas</h3>
<div class="container mt-3 d-flex justify-content-start promocoes_container scroll-container " style="gap:1rem; overflow-x:auto; white-space: nowrap;">

    {% for loja in lojas %}

        
                {% for promocao in loja.promocoes %}
                    <a class="card-1 my-1" href="/promocao/{{promocao.id}}/">
                        <h2 style="font-size:1.2rem">{{loja.nomeLoja}}</h2>

                        <img class="mb-3" style="height:5rem;" src="{{ promocao.imagem.url }}" alt="{{ promocao.produto.nome }}">
                        <p style="color:#333">Compre {{ promocao.quantidade_necessaria }}, Ganhe 1</p>

                        <p  style="color: #1094F5; font-weight:600;">
                            Ver detalhes
                        </p>
                    </a>
                {% endfor %}
            {%empty%}
            <span >Nenhuma oferta disponível nessa região.</span>

        {% endfor %}

</div>
</div>


<div class="container mt-5 d-none">
    <h4>Mais PoupeComprando pra você</h4>

    <div class="mt-5 d-flex flex-column" style="width: fit-content;"> 

    <img style="width: 7rem;" src="{%static 'img\03cupons_ESAv.avif' %}">
    <span class="text-center">Cupons</span>
</div>

</div>


<div class="container mt-5 d-none  w-100" style="gap:2rem">
    <h4>Famosos no PoupeComprando</h4>

    <div class=" d-flex justify-content-start w-100" style="gap:2rem">
        <div class="mt-5 d-flex flex-column" style="width: fit-content;" > 

    <img style="width: 7rem;" src="{%static 'img\03cupons_ESAv.avif' %}">

    <span class="text-center">Cupons</span>
</div>

<div class="mt-5 d-flex flex-column" style="width: fit-content;" > 

    <img style="width: 7rem;" src="{%static 'img\03cupons_ESAv.avif' %}">

    <span class="text-center">Cupons</span>
</div>

</div>
</div>



<div class="container mt-5 d-none">
    <h4>Mais PoupeComprando pra você</h4>

    <div class="mt-5 d-flex flex-column" style="width: fit-content;"> 

    <img style="width: 7rem;" src="{% static  'img\03cupons_ESAv.avif' %}">
    <span class="text-center">Cupons</span>
</div>

</div>
<div class="d-none container mt-5">
   <img src="">
</div>


<div class="d-none container mt-5">

   <img src="">

</div>

<div class="container mt-5 d-flex flex-column" style="flex-grow:1;">

    <!-- HTML para o Slider -->


    <div id="distanciaModal" class="modal1">
        <div class="modal-content1">
          <div class="modal-header1">
            <h2 class="text-center">Onde você quer receber seu pedido?</h2>
          </div>
          <div class="modal-body1">
            <label for="distanciaSlider">Distância: <span id="distanciaValor">100</span> km</label>
            <input type="range" id="distanciaSlider" name="distancia" min="5" max="100" value="100">
            <button style="background:#1094F5;" id="enviarDistancia">Enviar</button>
          </div>
        </div>
      </div>
    

      <div class="d-flex scroll-container" style="overflow-x:auto; gap:1rem"> 

<a  id="filtroFreteGratis" class="btn-filter">Filtrar por Frete Grátis</a>
<a  class="btn-filter" id="abrirDistancia" >Distância</a>

<a class="btn-filter"  href="{%url 'loja' %}" id="filtroFreteGratis">Limpar filtros</a>

      </div>
<script>
    let abrirDistancia = document.querySelector('#abrirDistancia')
    let distanciaModal = document.querySelector('#distanciaModal')
    abrirDistancia.addEventListener('click', function()
    {
        distanciaModal.style.display = 'flex'
    })
    document.getElementById('filtroFreteGratis').addEventListener('click', function() {
        var url = new URL(window.location.href);
        var params = new URLSearchParams(url.search);
    
        // Mantém o valor atual da distância
        var distancia = params.get('distancia') || '100';
    
        // Adiciona o filtro de frete grátis à URL
        params.set('freteGratis', 'sim');
        params.set('distancia', distancia);
    
        // Mantém o valor atual da categoria
        var categoria = params.get('categoria');
        if (categoria) {
            params.set('categoria', categoria);
        }
    
        window.location.href = url.pathname + '?' + params.toString();
    });
</script>

<script>
    // Função para obter o valor do parâmetro 'distancia' da URL
    function getDistanciaFromURL() {
        var params = new URLSearchParams(window.location.search);
        return params.get('distancia'); // retorna null se o parâmetro não existir
        
    }

    // Função para verificar se o filtro de frete grátis está ativo
    function isFreteGratisActive() {
        var params = new URLSearchParams(window.location.search);
        return params.get('freteGratis') === 'sim'; // retorna true se freteGratis=sim
    }

    // Configurando o valor inicial do slider com base na URL
    window.onload = function() {
        var distancia = getDistanciaFromURL();
        if (distancia !== null) {
            document.getElementById('distanciaSlider').value = distancia;
            document.getElementById('distanciaValor').innerText = distancia;
        }
    };

    // Event listeners para o slider
    document.getElementById('distanciaSlider').addEventListener('input', function() {
        document.getElementById('distanciaValor').innerText = this.value;
    });

  // Event listener para atualização do valor do slider
document.getElementById('distanciaSlider').addEventListener('input', function() {
    document.getElementById('distanciaValor').innerText = this.value;
});

// Event listener para o botão 'Enviar Distância'
document.getElementById('enviarDistancia').addEventListener('click', function() {
    var distancia = document.getElementById('distanciaSlider').value;
    var url = new URL(window.location.href);
    var params = new URLSearchParams(url.search);

    // Verifica se o frete grátis está ativo
    var freteGratis = isFreteGratisActive() ? 'sim' : 'nao';

    // Mantém o valor atual da categoria
    var categoria = params.get('categoria');

    // Atualiza distância e frete grátis
    params.set('distancia', distancia);
    params.set('freteGratis', freteGratis);

    // Se a categoria estiver presente, adiciona ao URL
    if (categoria) {
        params.set('categoria', categoria);
    }

    window.location.href = url.pathname + '?' + params.toString();
});
</script>   


<div class="mt-5 container-1 mobile-lojas" style="display:none; flex-grow:1">
    <h3 class="mb-2"> Lojas </h3>
    {% for loja in lojas %}
    <a class="card-1" href="{% if user.is_authenticated %}{% url 'perfil_loja' loja.id %}{% else %}{% url 'login' %}?next=loja_{{loja.id}}{% endif %}">
        <div class="d-flex">
            <img style="width:5rem; height:5rem; border-radius:50%; object-fit:cover;" src="{{loja.foto.url}}">
            <div>
                <h2>{{loja.nomeLoja}}</h2>
                <div class="d-flex" style="flex-direction:row !important; gap:1rem !important">
                <p class="pb-0 mb-0" style="color: #1094F5; font-weight:600; margin-bottom:0 !important;">
                    {{loja.categorias.first.nome}}
                </p>
               
                    <p class="pb-0 mb-0" style="margin-bottom:0 !important;"> {{ loja.distancia_calculada|floatformat:2 }} km

                </p>
            </div>
                <span class="d-flex" style="gap:1rem;">
                    {%if loja.valor_frete == 0%}
                    <p style="color: #1094F5; font-weight:600;">
                        Frete grátis
                    </p>
                    {%else%}
                    <p >
                       R$ {{loja.valor_frete}}</p>
                        {%endif%}
                        <p>
                    {{loja.tempo_entrega_min | default:65}}min</p>
                </span>
            </div>
        </div>
    </a>
    {% empty %}
        <span>Nenhuma loja disponível nessa região.</span>
    {% endfor %}
</div>
</div>

<div class="mt-5 container container-1 desk-lojas" style="flex-grow:1;">
{% for loja in lojas %}
<a class="card-1" href="{% url 'perfil_loja' loja.id %}">
    <img style="width:5rem; height:5rem; border-radius:50%; object-fit:cover;" src="{{loja.foto.url}}">
    <h2 style="font-size:1.3rem">{{loja.nomeLoja}}</h2>
    <p style="color: #1094F5; font-weight:600;">
       {{loja.categorias.first.nome}}
    </p>
    <p>
        {{ loja.distancia_calculada|floatformat:2 }} km
     </p>
     <div class="d-flex justify-content-center" style="gap:.5rem;">
     {%if loja.valor_frete == 0%}
     <p style="color: #1094F5; font-weight:600;">Frete grátis</p>
     {%else%}
    <p>R$ {{loja.valor_frete}}</p>
    {%endif %}
    <p>
        -
    </p>
    <p>
        {{loja.tempo_entrega_min|default:65}}min
    </p>
     </div>
</a>
{% empty %}
    <span>Nenhuma loja disponível nessa região.</span>
{% endfor %}
</div>

    <div id="locationModal" class="modal1 {%if user.is_authenticated%}d-none{%endif%}">
        <div class="modal-content1">
          <div class="modal-header1">
            
            <h2 class=" text-center mb-3 modal-title" style="font-size:1.4rem; color:#000 !important;">Onde você quer receber seu pedido?</h2>
            <div class="mb-3 d-flex justify-content-center">
              <img style="height:9rem; border-radius:4px;" src="{%static 'img/motoboy.png' %}">
              </div>
          </div>
          <div class="modal-body1">
            <input class="w-100" id="autocomplete" placeholder="Digite seu endereço" type="text" />
    
            <button class="w-100" style="background:#1094F5; font-size:1.2rem; border-radius:4px;" id="useLocation">Usar minha localização</button>
            <p>Já tem um endereço salvo? <a href="{%url 'login' %}">Entre</a> ou <a href="{%url 'registerCliente' %}">cadastre-se</a></p>
          </div>
        </div>
      </div>
    

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const modal = document.getElementById("locationModal");
            const btn = document.getElementById("useLocation");
            const abrirEndereco = document.querySelectorAll('.abrir-endereco');
        
            abrirEndereco.forEach((btn) => {
                btn.addEventListener('click', function() {
                    modal.style.display = 'flex';
                });
            });
        
            if (localStorage.getItem('locationPermission') !== 'granted') {
                modal.style.display = "flex";
            } else {
                // Recupera e usa a localização salva no localStorage
                const latitude = localStorage.getItem('latitude');
                const longitude = localStorage.getItem('longitude');
                const address = localStorage.getItem('address');
                
                if (latitude && longitude && address) {
                    setLocation(latitude, longitude, address);
                }
            }
        
            function getAddressFromCoordinates(latitude, longitude, callback) {
                var geocoder = new google.maps.Geocoder();
                var latLng = new google.maps.LatLng(latitude, longitude);
        
                geocoder.geocode({ 'location': latLng }, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK && results[0]) {
                        callback(results[0].formatted_address);
                    } else {
                        console.error('Geocoding failed: ' + status);
                        callback('');
                    }
                });
            }
        
            btn.onclick = function() {
                navigator.geolocation.getCurrentPosition(function(position) {
                    localStorage.setItem('locationPermission', 'granted');
        
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
        
                    // Armazena latitude e longitude no localStorage
                    localStorage.setItem('latitude', latitude);
                    localStorage.setItem('longitude', longitude);
        
                    getAddressFromCoordinates(latitude, longitude, function(address) {
                        if (address) {
                            console.log('Endereço obtido:', address);
                            
                            // Armazena o endereço no localStorage
                            localStorage.setItem('address', address);
        
                            setLocation(latitude, longitude, address);
        
                        } else {
                            // Trate o caso onde o endereço não pôde ser obtido
                            console.error('Endereço não encontrado para as coordenadas.');
                        }
                    });
        
                }, function(error) {
                    console.error('Erro ao obter localização:', error);
                    localStorage.setItem('locationPermission', 'denied');
                });
            };
        
            function setLocation(latitude, longitude, address) {
                fetch('/set_location/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({
                        latitude: latitude,
                        longitude: longitude,
                        address: address
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (redirect && window.location.pathname !== '/loja/') {
                        window.location.href = '/loja/';
                    }
                })
                .catch(error => {
                    console.error('Erro ao enviar localização:', error);
                });
            }
        });
        
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
      </script>
{%endblock%}