{%load static%}
<html>
<head>
</head>
<body style="font-family: 'Arial', sans-serif; color: #333; background-color: #f4f4f4; padding: 20px; line-height: 1.6;">
    <h1 style="color: #4A90E2;">Detalhes do Pedido</h1>
    <img style="border-radius: 50%; width: 100px; height: 100px;" src="{%static 'img/dev122062_faz_uma_logo_parecida_com_ifood_para_uma_plataforma_c_a6720ce1'%}" alt="Imagem">
    <p>Olá {{ pedido.loja.nomeLoja }},</p>
    <p>Seu pedido foi aceito com sucesso!</p>
   <a href="{%url 'home' %}" style="color: #ffffff; text-decoration: none; background-color: #4A90E2; padding: 10px 20px; border-radius: 5px;">Voltar para Home</a></p> -->
  
</body>
</html>