
a
{
    text-decoration: none;
    color: #000;
}
a:hover
{
    color: #000;
}

@media (max-width: 768px) {
    .header, .steps {
        flex-direction: column !important;
    }
    .spanPedido {
        font-size: .6rem;
    }

    .main-container
    {   
        flex-direction: column;
    }

    .container2
    {
        width: 100% !important;
    }

    .w-50
    {
        width: 100% !important;
    }
}

@keyframes expandWidth {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}
.entrega {
    border-bottom: solid 3px #007bff;
    color: #007bff;
}
.retirada:hover {
    border-bottom: solid 3px rgb(191, 187, 187);
    color: rgb(191, 187, 187);
}
.retirada {
    color: rgb(191, 187, 187);
}


